body {
  background-color: #F4D7E2;
}

body{
    margin:0;
    font-family: Palatino;
}

/* Nav */


/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#3E2723;
    padding:20px 40px;
}

/* name */
.name{
    color:white;
    font-size:22px;
}

/* Nav links */
.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
    margin:0;
    padding:0;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:24px;
    position:relative; 
}

/* line under link on hover */
.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px; 
    width:0%;
    height:3px; 
    background:#F4D7E2; 
    transition: width 0.3s ease; 
}

/* expand line on hover */
.nav-links a:hover::after{
    width:100%;
}
/* Nav End */



/* Layout */
.info {
    display: flex;
    gap: 50px;              
    margin-top: 40px;
    padding: 0 80px;
    flex-wrap: wrap;             
    justify-content: center;      
}

/* Boxes */
.box {
    flex: 1 1 calc(50% - 50px);   
    max-width: calc(50% - 50px);  
    color: #3E2723;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

/* Animation delays */
.box:nth-child(1) { animation-delay: 0.2s; }
.box:nth-child(2) { animation-delay: 0.4s; }
.box:nth-child(3) { animation-delay: 0.6s; }
.box:nth-child(4) { animation-delay: 0.8s; }

/* Titles */
.box h2 {
    font-size: 32px;
  margin-top: 10px;
    margin-bottom: 0%;
}

/* Text */
.box p {
    font-size: 24px;
    border-top: 5px solid #3E2723;
    
    padding-top: 5px;
    margin-bottom: 0%;
    line-height: 1.6;
    color: #5D4037;
}

/* Animation */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Section title */
.section-title {
    margin-top: 30px;
    font-size: 3rem;
    margin-bottom: 10px;
    color: #3E2723;
    text-align: center;
}
